App_Data/*
Assets/*
bin/*
Models/*
obj/*
Properties/*
scripts/*
ApplicationInsights.config
ChallengeDaysBetweenDates.csproj
ChallengeDaysBetweenDates.csproj.user
Global.asax
packages.config
Web.config
Web.Debug.config
Web.Release.config