App_Data/*
bin/*
Models/*
obj/*
Properties/*
ApplicationInsights.config
ChallengeHeroMonsterClassesPart1.csproj
ChallengeHeroMonsterClassesPart1.csproj.user
Global.asax
packages.config
Web.config
Web.Debug.config
Web.Release.config















ChallengeHeroMonsterClassesPart1